@font-face {
  font-family: "Ubuntu";
  src: url("../fonts/Ubuntu/Ubuntu-Regular.ttf") format("truetype");
  font-weight: 400; /* Соответствует значению normal */
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Ubuntu";
  src: url("../fonts/Ubuntu/Ubuntu-Bold.ttf") format("truetype");
  font-weight: 700; /* Соответствует значению bold */
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Ubuntu";
  src: url("../fonts/Ubuntu/Ubuntu-Italic.ttf") format("truetype");
  font-weight: 400; /* Соответствует значению normal */
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Ubuntu";
  src: url("../fonts/Ubuntu/Ubuntu-BoldItalic.ttf") format("truetype");
  font-weight: 700; /* Соответствует значению bold */
  font-style: italic;
  font-display: swap;
}
